###컬렉션 데이터 활용
- 컬렉션 데이터 모든 요소 접근
- for 요소변수 in 컬렉션명:
-  zip() 함수 : 동일한 개수로 이루어진 자료형을 묶어 주는 역할을 하는 함수

In [ ]:
# 컬렉션 요소 접근
lst = [10, 50, 30]
tp = ('a', 'b', 'c')

for item in lst:
  print(item, end=' ')
print()
for item in tp:
  print(item, end=' ')

10 50 30
a b c

In [ ]:
# 딕셔너리 만들기 : dict() 함수와 zip()함수 이용
dt = dict(zip(tp, lst))
print(dt)
for item in dt:
  print(f'{item}:{dt[item]}')

{'a': 10, 'b': 50, 'c': 30}
a:10
b:50
c:30

### 내장함수
- len(컬렉션명) : 컬렉션 요소 개수
- max(컬렉션명) : 가장 큰 요소값 반환
  - 딕셔너리인 경우는 키 값 중 가장 큰 요소 반환
- min(컬렉션명) : 가장 작은 요소값 반환
  - 딕셔너리인 경우는 키 값 중 가장 작은 요소 반환
- sum(컬렉션명) : 수치 요소로 이루어진 컬렉션 요소의 합
  - 딕셔너리인 경우는 키 값의 합
- sorted(컬렉션명) : 컬렉션 요소 정렬
  - 딕셔너리인 경우는 키 값을 정렬하여 키 리스트 반환

In [ ]:
# 내장함수

lst = [10, 50, 30]
print(len(lst)) # 요소개수
print(max(lst)) # 최대값
print(min(lst)) # 최소값
print(sum(lst)) # 합계
print(sorted(lst)) # 정렬
print(lst)

lst.sort()
print(lst)

3
50
10
90
[10, 30, 50]
[10, 50, 30]
[10, 30, 50]

###해결문제

In [ ]:
# 해결문제 1

# 기상청에서 제공하는 2020년 3월 1일에서 3월 31일까지의 평균기온 정보를 참고하여 다음을 구하시오
# - 최고 기온인 날
# - 최저 기온인 날
# - 3월 평균 기온

# 부산 3월 기온
temp = [10.8, 8.5, 8.7, 7.9, 5.1,
        8.1, 8.2, 10.4, 11, 9.9,
        7.8, 9.5, 11.6, 8.2, 7.7,
        6.6, 11.1, 12.2, 12.6, 10.4,
        13.7, 14.1, 12.6, 11.5, 13,
        14.5, 13.7, 9.4, 10.4, 11.6, 12.9]

print(max(temp))
print(min(temp))
a_temp = sum(temp) / len(temp)
print(a_temp)

14.5
5.1
10.441935483870964

In [ ]:
# 해결문제 2

# 다음은 2010 ~ 2019년 기온 데이터 (년도, 평균, 최소, 최대)이다.
# - 홀수년도만 출력
# - 년도 출력하기
# - 년도와 평균 기온 딕셔너리 만들기
# - 평균기온이 최소일 때 해당년도 추출하기 ex) 2012년 - 14.5도
# - 최고기온이 최대일 때 해당년도 추출하기 ex) 2016년 - 19.6도
# - 최고기온이 최소일 때 해당년도 추출하기 ex) 2012년 - 18.6도

y = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
yavg = [14.9, 14.6, 14.5, 15.3, 15.1, 15.4, 15.7, 15.2, 15.1, 15.7]
ymax = [34.1, 33, 34.5, 35, 32.9, 33.5, 37.3, 36.2, 36.4, 35]
ymin = [19, 18.8, 18.6, 19.5, 19.2, 19.5, 19.8, 19.6, 19.2, 19.8]

# - 홀수년도만 출력
odd_years = [year for year in y if year % 2 == 1]
print(odd_years)
print(" ")

# - 년도 출력하기
for year in y:
    print(year)
print(" ")

# - 년도와 평균 기온 딕셔너리 만들기
year_avg_dict = dict(zip(y, yavg))
print(year_avg_dict)
print(" ")

# - 평균기온이 최소일 때 해당년도 추출하기
min_avg = min(yavg)
min_avg_year = y[yavg.index(min_avg)]
print(f"{min_avg_year}년 - {min_avg}도")
print(" ")

# - 최고기온이 최대일 때 해당년도 추출하기
max_temp = max(ymax)
max_temp_year = y[ymax.index(max_temp)]
print(f"{max_temp_year}년 - {max_temp}도")
print(" ")

# - 최고기온이 최소일 때 해당년도 추출하기
min_max_temp = min(ymax)
min_max_temp_year = y[ymax.index(min_max_temp)]
print(f"{min_max_temp_year}년 - {min_max_temp_year}도")

[2011, 2013, 2015, 2017, 2019]

2010
2011
2012
2013
2014
2015
2016
2017
2018
2019

{2010: 14.9, 2011: 14.6, 2012: 14.5, 2013: 15.3, 2014: 15.1, 2015: 15.4, 2016: 15.7, 2017: 15.2, 2018: 15.1, 2019: 15.7}

2012년 - 14.5도

2016년 - 37.3도

2014년 - 2014도